
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black lighten-1 fixed-top " [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand font-weight-bold" href="https://images-platform.99static.com//QPpY0ziz0_g8stmL2n4wvIDE0HE=/0x0:1500x1500/fit-in/500x500/99designs-contests-attachments/79/79888/attachment_79888445">Play On Arena</a>
    </mdb-navbar-brand>

  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="about-us" class="nav-link waves-light" mdbWavesEffect>AboutUs</a>
        </li>
        <li class="nav-item">
          <a href= "contact-us" class="nav-link waves-light" mdbWavesEffect>ContactUs</a>
        </li>
  
        <!-- Dropdown -->
        <!--SignIn -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            SignIn<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="admin-login">Admin</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="manager-login">Manager</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="user-login">User</a>
            
          </div>
        </li>
  
        <!-- SignUp-->
  
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            SignUp<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          
            <a class="dropdown-item waves-light" mdbWavesEffect href="manager-register">Manager</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="user-register">User</a>
            
          </div>
        </li>
  
  
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  
    <!-- Carousel code -->
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2020/01/30/18/51/sport-4806238_1280.jpg" alt="Sports">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">VolleyBall</h3>
          <p> Volleyball teaches teamwork and communication and is a great social activity.</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2014/11/07/00/00/volleyball-520093_1280.jpg" alt="Sports">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">VolleyBall</h3>
          <p>I don't count my situps.</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2013/03/19/18/23/mountain-biking-95032_1280.jpg" alt="Sports">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Mountain Biking</h3>
          <p>You can't be sad while riding a bicycle.</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/04/05/09/03/woman-3292241_1280.jpg" alt="Sports">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive"></h3>
          <p></p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2013/02/05/21/05/rugby-78193_1280.jpg" alt="Sports">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Rugby</h3>
          <p> Don't swear, now, you're on telly, mun.</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
     <!-- Carousel code -->
     
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">
  
    <div style="background-color:black">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Play On Arena</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>An online playground booking system works all the time. 
            We gives freedom to potential visitors to book a ground anytime they want.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Services</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Membership</a>
          </p>
          <p>
            <a href="#!">Kit</a>
          </p>
          <p>
            <a href="#!">Food</a>
          </p>
          <p>
            <a href="#!">Training</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">View Time Slot</a>
          </p>
          <p>
            <a href="#!">Ground Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> CDAC-JUHU, MUMBAI
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> playonarena@Gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 91 8899 9999 89
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 8989898
          </p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
    <!--Images -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2017/08/24/21/41/tartan-track-2678544_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2015/05/15/14/49/basketball-768713_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2015/04/15/21/06/cricket-724614_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2016/07/23/20/11/field-hockey-1537470_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/13/08/skateboard-1869727_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://cdn.pixabay.com/photo/2016/05/31/23/21/badminton-1428046_1280.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!--Images-->
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href=""> PlayOnArena.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
    
  