<div class="wrapper">
    <div class="overlay">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="contact-us text-center">
                    <h3 >Contact Us</h3>
                    <p class="mb-5 ">"Your most unhappy customers are your greatest source of learning." - Bill Gates.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-5 text-center px-3">
                                <div class="d-flex flex-row align-items-center"> 
                                  <span class="icons">
                                    <i class="fa fa-map-marker"></i>
                                  </span>
                                    <div class="address text-left">
                                       <span>Address</span>
                                        <p> CDAC-JUHU, MUMBAI</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3">
                                   <span class="icons"><i class="fa fa-phone"></i>
                                  </span>
                                    <div class="address text-left"> 
                                      <span>Phone</span>
                                        <p> + 91 8899 9999 89</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3">
                                   <span class="icons"><i class="fa fa-envelope-o"></i>
                                  </span>
                                    <div class="address text-left"> 
                                      <span>Address</span>
                                        <p> playonarena@Gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center px-1">
                                <div class="forms p-4 py-5 bg-white">
                                    <h5>Send Message</h5>
                                    <div class="mt-4 inputs"> 
                                      <input type="text" class="form-control" placeholder="Name">
                                       <input type="text" class="form-control" placeholder="Email"> 
                                       <textarea class="form-control" placeholder="Type your message"></textarea>
                                       </div>
                                    <div class="button mt-4 text-left"> <button class="btn btn-dark">Send</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Body ends here...-->
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">
  
    <div style="background-color:black">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Play On Arena</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>An online playground booking system works all the time. 
            We gives freedom to potential visitors to book a ground anytime they want.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Services</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Membership</a>
          </p>
          <p>
            <a href="#!">Kit</a>
          </p>
          <p>
            <a href="#!">Food</a>
          </p>
          <p>
            <a href="#!">Training</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">View Time Slot</a>
          </p>
          <p>
            <a href="#!">Ground Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> CDAC-JUHU, MUMBAI
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> playonarena@Gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 91 8899 9999 89
          </p>
       
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
   
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href=""> PlayOnArena.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
