.carousel{
  background: #2f4357;
  margin-top: 0px;
}
.carousel-item{
  text-align: center;
  min-height: auto; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.fa {
  padding: 20px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  text-align:initial;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

  color: #4267B2;
}

/* Twitter */
.fa-twitter {
 
  color: 	#1DA1F2;
}


.fa-instagram {
  
  color:#8a3ab9;
}
.fa-whatsapp {

  color:#075e54;
}


