
body, html{
    height:100%;
    background-image: url("https://cdn.pixabay.com/photo/2014/05/02/21/50/home-office-336377_1280.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.form_bg {
    background-color:black;
    color:turquoise;
    
    padding:20px;
    border-radius:15px;
    position:initial;
    border:1px solid #fff;
	margin: auto;
    border-bottom: 1px;
    margin-top: 75px;
    margin-bottom: 75px;
    opacity: 0.8;
   
    
    
    width: 320px;

	text-align:center;
	
}
.align-center {
    text-align:center;
}

