
  body
  {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      background-image:url("https://cdn.pixabay.com/photo/2019/08/30/06/03/telephone-4440525_1280.jpg")
   
  }
  
  #feedback-page{
      text-align:center;
  }
  
  #form-main{
      width:100%;
      float:left;
      padding-top:0px;
     
  }
  
  #form-div {
      background-color:darkgray;
      padding-left:35px;
      padding-right:35px;
      padding-top:35px;
      padding-bottom:50px;
      width: 400px;
      float: left;
      left: 50%;
      position:relative;
      margin-top:30px;
      margin-left: -260px;
      border-radius: 7px;
      position:relative;
      opacity:0.8;
      
    
  }
  
  .montform .feedback-input {
      color:#3c3c3c;
      font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      box-sizing: border-box;
      border: 3px solid rgba(0,0,0,0);
  }
  /*Inputs styles*/
  .montform .feedback-input:focus{
      background: #fff;
      border: 3px solid #3498db;
      color: #3498db;
      outline: none;
    padding: 13px 13px 13px 54px;
  }
  
  
  /* Icons ---------------------------------- */
  .montform  #name{
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  .montform  #name:focus{
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
      background-size: 30px 30px;
      background-position: 8px 5px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  .montform  #email{
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  .montform  #email:focus{
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
      background-size: 30px 30px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  .montform  #comment{
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  .montform  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }
  
  .montform  input:hover, .montform  textarea:hover,
  .montform  input:focus, .montform  textarea:focus {
      background-color:#e6e6e6;
  }
  
  .button-blue{
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      float:left;
      
      width: 100%;
     
      border: #fbfbfb solid 4px;
      cursor:pointer;
      background-color:black;
      color:white;
      font-size:20px;
      
      padding-top:22px;
      padding-bottom:22px;
      transition:all 0.3s;
    margin-top:-4px;
    font-weight:700;
    text-align: center;
  }
  
  .button-blue:hover{
      background-color: rgba(0,0,0,0);
      color: #0493bd;
  }
      
  .montform  .submit:hover {
      color: #3498db;
  }
      
  .ease {
      width: 0px;
      height: 74px;
      background-color: #fbfbfb;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    background-color:lightgrey;
  }
  
  /*Styles for small screens*/
  
  @media  only screen and (max-width: 580px) {
      #form-div{
          left: 3%;
          margin-right: 3%;
          width: 88%;
          margin-left: 0;
          padding-left: 3%;
          padding-right: 3%;
    
      }
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    text-align:initial;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
  
    color: #4267B2;
  }
  
  /* Twitter */
  .fa-twitter {
   
    color: 	#1DA1F2;
  }
  
  
  .fa-instagram {
    
    color:#8a3ab9;
  }
  .fa-whatsapp {
  
    color:#075e54;
  }
  

  