<!DOCTYPE html>
<html lang="en">
<head>
  <title>Play-On-Arena</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h3 class="text-center">Register Here...</h3>

                <br/>
                <div class="form-group">
                    <input type="userName" class="form-control" id="userName" placeholder="UserName">
                </div>
                <div class="form-group">
                  <input type="firstName" class="form-control" id="firstName" placeholder="FirstName">
              </div>
              <div class="form-group">
                <input type="lastName" class="form-control" id="lastName" placeholder="LastName">
            </div>
            <div class="form-group">
              <input type="mobNo" class="form-control" id="mobNo" placeholder="Contact No">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="EmailId">
        </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                <br/>
                <div class="align-center">
                    <button type="submit" class="btn btn-block btn-default" id="login">Login</button>
                </div>
              
            </form>
        </div>
      
	</div>
	
</div>

</body>

</html>

