<!DOCTYPE html>
<html lang="en">
<head>
  <title>Play-On-Arena</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form (ngSubmit)= " onSubmit()">
                 <h3 class="text-center">Register Here...</h3>

                <br/>
                <div class="form-group">
                    <input type="text" #userName="ngModel" [(ngModel)]="user.userName"  [ngModelOptions]="{standalone: true}" class="form-control" id="userName" placeholder="UserName">
                </div>
                <div class="form-group">
                  <input type="text" #firstName="ngModel" [(ngModel)]="user.firstName"  [ngModelOptions]="{standalone: true}" class="form-control" id="firstName" placeholder="FirstName">
                 </div>
                <div class="form-group">
                  <input type="text" #lastName="ngModel" [(ngModel)]="user.lastName"  [ngModelOptions]="{standalone: true}" class="form-control" id="lastName" placeholder="LastName">
                </div>
                <div class="form-group">
                  <input type="text" #mobNo="ngModel" [(ngModel)]="user.mobNo"  [ngModelOptions]="{standalone: true}" class="form-control" id="mobNo" placeholder="Contact No">
                </div>
                <div class="form-group">
                  <input type="text" #email="ngModel" [(ngModel)]="user.email"  [ngModelOptions]="{standalone: true}"  class="form-control" id="email" placeholder="EmailId">
                </div>
                <div class="form-group">
                    <input type="text" #password="ngModel" [(ngModel)]="user.password"  [ngModelOptions]="{standalone: true}" class="form-control" id="pwd" placeholder="Password">
                </div>
                <br/>
                
                <button class="btn btn-warning  btn-outline-dark btn-sm btn-block text-black" type="submit">Register</button>
              
            </form>
        </div>
    </div>
	
</div>

</body>
</html>

