.container2{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMPMs3d06sZUU4u-a56PrBtLrH7msDU8-ZbQ&usqp=CAU);
  background-color:mistyrose;
    height:500px;
    background-repeat: no-repeat;
    width:100%;
    
}